*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
}

body{
    margin-left: 50px;
    margin-right: 50px;
}

.boton{
    background-color: blue;
    color: aliceblue;
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 150px;
    text-align: center;
    text-decoration: none;
}

.boton:hover{
    background-color: blueviolet;
    color: brown;
}

.boton:active{
    background-color:yellow ;
    color: black;
}

#p1:target{
    background-color: rgba(153, 190, 44, 0,2);
}

#p2:target{
    background-color:rgba(47, 189, 123, 02);
}

#p3:target{
    background-color:rgba(5, 22, 90, 05);
}

.texto1{
    width: max-content;
    display: flex;
    padding: 10px;
    margin: 30px;
    background-color: tomato;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto2{
    width: max-content;
    display: flex;
    padding: 10px;
    margin: 30px;
    background-color: tomato;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*.texto1 p:first-child*/
/*.texto1 p:last-child*/
/*.texto1 p:nth-child(5)*/
/*.texto1 p:nth-child(odd) el odd es impar*/
/*.texto1 p:nth-child(even) even es par*/
/*.texto1 p:nth-child(n+2) agarra desde el dos hacia abajo*/
.texto1 p:nth-last-child(n+2), .texto2 p:nth-last-child(n+2) 
{
    background-color: skyblue;
    color: red;

}

.tabla{
    border-collapse: collapse;
    margin: 20px auto 50px;
}

.tabla th, td{
    border: 1px solid red;
}

.tabla thead{
    background-color: burlywood;
}

.tabla tr:nth-child(even)
{
    background-color:blueviolet ;
    color: rgb(17, 123, 215);
    font-weight: bold;
}

.nombre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    list-style: none;
    margin: 40px;
}

.nombre li{
    font-size: xx-large;
    font-weight: bold;
}

.nombre li:nth-child(even){
    background-color: black;
    color: blueviolet;
    padding: 10px;
}

.nombre li:nth-child(odd){
    background-color: rgb(0, 0, 0);
    color: rgb(192, 43, 226);
    padding: 10px;
}

.lista{
    width: max-content;
    margin: auto;
    padding: 20px;
    list-style: none;
}

.lista li:before{
    content:"🆗" ;
    padding-left: 30px;
    margin-left: 30px;
}

.texto2 p:after{
    content: "☠︎";
}

/*cuadro*/
.cuadro{
    background-color: cornflowerblue;
    width: max-content;
    min-width: 200px;
    box-shadow: 6px 6px 10px red;
    padding: 10px;
    margin: 40 auto;
    position:relative;
    text-align: center;

}

.cuadro::after{
    width: 80px;
    height: 30px;
    content: "🔴🟠🔵";
    position: absolute;
    top: calc(100% - 15px);
    right: calc(100% - 15px);
}

.cuadro::before{
    width: 80px;
    height: 30px;
    content: "🔴🟠🔵";
    position: absolute;
    top: calc(100% - 15px);
    right: calc(100% - 0px);
}

/*formulario*/

.resp{
    margin: 30px 50px
}

label{

    background-color: darkgreen;
    padding: 30px;
    color: azure;
}
/*se utiliza con checkbox,radio o select*/
.resp:checked + label{
    background-color: rgb(40, 17, 213);
    color: white;
    
}